<!DOCTYPE html>
<html>
<head> 
	<meta charset="utf-8">
	<meta name="author" content="Johana">
	<meta name="description" content="Examen1">
	<meta name="Keywords" content="Examen1,propio,documento">
	<link rel="stylesheet" type="text/css" href="stylesheets/examen.css">
	<script type="text/javascript" src="../javascrips/cultural.js"></script>
	<title> Fútbol </title>
</head>

<body>
	<!-- Logo de la pagina web -->
	<header>
		<figure >
			<img src="images/logocultural.png" alt="logo" >
		</figure>
	</header>

<h1> CULTURAL Y DEPORTIVA LEONESA</h1>


	<!-- este enlace te llava al html de para un nuevo registro-->
<section>
	<a href="cultural/altasocio">
	<img src="images/campo.jpg" height="400" width="600" id="balon"></a>
		
</section>
	

 <!-- Datos de contacto de la pagina web -->
<FOOTER>
	<p color: #8ABB55>
		<legend> CONTACTO: </legend>
			<label for="telefono">Número de telefono:</label><label for="telefono"> 987 25 37 69 </label>
			<br><label for="telefono"> Fax: </label>	
			<label for="telefono"> 987 21 22 07 </label>
			<br><label for="email1">Mail:</label>
			<label for="email1"> cultural@cydleonesa.com</label>
	</p>

	<p>
		<br>  © Copyright 2018 Cultural Leonesa
	</p>
			
 
</FOOTER>

</body>
</html>

<!-- Fin de la practica de la Cultural y Deportiva Leonesa -->