
h1{
	text-align: center;
	font-family:comic sans;
    font-style: bolder;
    font-weight: 1200px;
    font-size: xx-large;
    color: #ff1ac6;
}

body {
	background-color: #ffffb3;
	font-size: large;
}

figure {
	text-align: center;
}